@mixin nav-items($paddingValue, $paddingValue-lmd) {
  padding: $paddingValue;
  border-bottom: 4px solid clr(color-transparent);
  transition: 0.3s;

  &:hover {
    border-bottom-color: clr(color-primary-green);
    transition: 0.3s;

    & > a {
      opacity: 1;
    }
  }
  & > a {
    color: clr(color-primary-white);
    opacity: 0.5;
  }

  @include breakpoint(large-medium-device) {
    padding: $paddingValue-lmd;
    @include flex-item($align-self: center);
    border: 0;
  }
}

@mixin input-area($widthValue) {
  margin-top: 47px;
  width: $widthValue;
  @include breakpoint(medium-device) {
    width: unset;
    max-width: $widthValue;
  }

  & > input {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    font-size: fs(fs-16);
    border-radius: 3px 0 0 3px;
    @include flex-item($flex-basis: 302px);

    &::placeholder {
      opacity: 0.9;
    }
  }

  &__submit-btn,
  &-submit-btn {
    @include flex-item($flex-basis: 120px);
    font-size: 14px;
    border-radius: 0 4px 4px 0;
  }
}

// **************** //

@mixin icon($icon, $fsValue, $ml, $colorValue) {
  content: $icon;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: fs($fsValue);
  margin-left: $ml;
  color: clr($colorValue);
}

// Flex
@mixin flex-container(
  $justify-content: false,
  $align-items: false,
  $flex-wrap: false,
  $flex-direction: false
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $align-items != false {
    align-items: $align-items;
  }
  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
}

@mixin flex-item(
  $align-self: false,
  $flex-basis: false,
  $flex-direction: false,
  $flex-grow: false
) {
  @if $align-self != false {
    align-self: $align-self;
  }
  @if $flex-basis != false {
    flex-basis: $flex-basis;
  }
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
  @if $flex-grow != false {
    flex-grow: $flex-grow;
  }
}

// Break pointes

@mixin breakpoint($point) {
  @if $point == larg-device {
    @media screen and (max-width: 900px) {
      @content;
    }
  } @else if $point == large-medium-device {
    @media screen and (max-width: 800px) {
      .hidden {
        display: none;
      }
      @content;
    }
  } @else if $point == medium-device {
    @media screen and (max-width: 650px) {
      @content;
    }
  } @else if $point == small-screen {
    @media screen and (max-width: 450px) {
      @content;
    }
  }
}
