.banner-top-bar {
  background: $linear-gradient-blue;
  padding: 40px 0;
  & > div {
    @include flex-container(
      $align-items: center,
      $justify-content: space-between
    );
    @include breakpoint(medium-device) {
      @include flex-item($flex-direction: column-reverse);
      text-align: center;
    }
  }

  &__logo {
    max-height: 55px;
    @include breakpoint(medium-device) {
      margin-bottom: 30px;
    }
    & > img {
      width: 100%;
    }
  }
}
.banner-top-bar__content {
  @include flex-item($flex-basis: 687px);
  color: clr(color-primary-white);
  @include breakpoint(medium-device) {
    @include flex-item($flex-basis: unset);
  }

  &--desc {
    font-size: fs(fs-24);

    @include breakpoint(small-screen) {
      line-height: lh(lh-1.38);
      font-size: fs(fs-18);
    }
  }
  &--desc > strong {
    font-size: fs(fs-28);
    @include breakpoint(small-screen) {
      font-size: fs(fs-24);
    }
  }
  &--link {
    margin-top: 21px;
    color: clr(color-primary-white);
    text-decoration: underline;
    font-size: fs(fs-16);
  }
}

.banner-body {
  background: url(../images/woman-690036-1280.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: clr(color-opacity-primary-dark-blue);
  background-blend-mode: overlay;
  height: 719px;
  @include flex-container($justify-content: center, $align-items: flex-end);

  @include breakpoint(exta-large-device) {
    background-image: url(../images/woman-690036-1280@2x.webp);
  }
  @include breakpoint(small-screen) {
    background-position: top 0 right 25%;
  }
}
.banner-body__content {
  @include flex-item($flex-basis: 836px);
  color: clr(color-primary-white);
  font-family: OpenSans;

  &--heading {
    font-style: italic;
    font-weight: 300;
    line-height: lh(lh-1.08);
  }
  &--caption {
    margin-top: 31px;
    font-size: fs(fs-18);

    @include breakpoint(small-screen) {
      font-size: fs(fs-16);
    }
  }
  &--play-btn {
    margin: 40px 0 78px 0;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: $linear-gradient-green-blue;

    & > span {
      font-size: fs(fs-24);
      margin-left: 5px;
      color: clr(color-primary-purpel);
    }
  }
}

.banner-bottom {
  padding: 20px 0;
  @include flex-container($justify-content: center, $flex-wrap: wrap);
  &__card {
    @include flex-container();
    @include flex-item($flex-basis: 256px);
    padding: 20px 0;

    &-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;

      & > span {
        font-size: fs(fs-14);
        margin-left: 5px;
        color: clr(color-primary-white);
      }
    }
    &-picture-1 {
      background-image: url(../images/userpic-1.webp);
    }
    &-picture-2 {
      background-image: url(../images/userpic-2.webp);
    }
    &-picture-3 {
      background-image: url(../images/userpic-3.webp);
    }
    &-picture-4 {
      background-image: url(../images/userpic-4.webp);
    }

    &-picture:hover > span {
      display: none;
    }
    &-picture:hover + .banner-bottom__card-holder {
      opacity: 1;
    }
  }
  &__card-holder {
    margin-left: 23px;
    opacity: 0.6;

    &-name {
      font-size: fs(fs-18);
      color: clr(color-secondary-voilet);
    }
    &-logo {
      margin-top: 13px;
    }
  }
}
