.banner-top-bar {
  background: $linear-gradient-blue;
  padding: 40px 0;
  & > div {
    @include breakpoint(medium-device) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__logo {
    max-height: 55px;
    @include breakpoint(medium-device) {
      margin-bottom: 30px;
    }
    & > img {
      width: 100%;
    }
  }
}
.banner-top-bar__content {
  flex-basis: 687px;
  color: clr(color-primary-white);
  @include breakpoint(medium-device) {
    flex-basis: unset;
  }

  &--desc {
    font-size: fs(fs-24);

    @include breakpoint(small-screen) {
      line-height: lh(lh-1.38);
      font-size: fs(fs-18);
    }
  }
  &--desc > strong {
    font-size: fs(fs-28);
    @include breakpoint(small-screen) {
      font-size: fs(fs-24);
    }
  }
  &--link {
    margin-top: 21px;
    color: clr(color-primary-white);
    text-decoration: underline;
    font-size: fs(fs-16);
  }
}

.banner-body {
  background-image: url(../images/woman-690036-1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: clr(color-opacity-primary-dark-blue);
  background-blend-mode: overlay;
  //   opacity: 0.5;
  height: 719px;
}
.banner-body__content {
  flex-basis: 836px;
  color: clr(color-primary-white);
  font-family: OpenSans;

  &--heading {
    font-style: italic;
    font-weight: 300;
    line-height: lh(lh-1.08);
  }
  &--caption {
    margin-top: 31px;
    font-size: fs(fs-18);

    @include breakpoint(small-screen) {
      font-size: fs(fs-16);
    }
  }
  &--play-btn {
    margin: 40px 0 78px 0;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: $linear-gradient-green-blue;

    &::after {
      @include icon("\f04b", fs-24, 5px, color-primary-voilet);
    }
  }
}

.banner-bottom {
  padding: 41px 0;
  max-width: 1140px;
  overflow-x: auto;
  cursor: all-scroll;

  &__card {
    min-width: 256px;
    margin: 0 14px;

    &-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;

      &::after {
        @include icon("\f04b", fs-14, 5px, color-primary-white);
      }
    }
    &-picture-1 {
      background-image: url(../images/userpic-1.png);
    }
    &-picture-2 {
      background-image: url(../images/userpic-2.png);
    }
    &-picture-3 {
      background-image: url(../images/userpic-3.png);
    }
    &-picture-4 {
      background-image: url(../images/userpic-4.png);
    }

    &-picture:hover::after {
      display: none;
    }
    &-picture:hover + .banner-bottom__card-holder {
      opacity: 1;
    }
  }
  &__card-holder {
    margin-left: 23px;
    opacity: 0.6;

    &-name {
      font-size: fs(fs-18);
      color: clr(color-secondary-voilet);
    }
    &-logo {
      margin-top: 13px;
    }
  }
}
