.info-wrap {
  background: $linear-gradient-green-blue;
  padding: 80px 0 90px 0;

  &__header {
    color: clr(color-primary-white);

    &--desc {
      margin-top: 33px;
      line-height: lh(lh-1.56);
      font-size: fs(fs-18);
    }
  }
  &__content {
    margin-top: 60px;
    @include flex-container($justify-content: space-between);
    &--picture > img {
      width: 100%;
    }
  }
  @include breakpoint(larg-device) {
    &__content {
      @include flex-container($flex-direction: column);
      max-width: 550px;
      margin: 40px auto 0 auto;
    }
    &__content--picture {
      margin-top: 30px;
    }
  }
}

.info-wrap__accordion {
  flex-basis: 502px;
  margin-right: 30px;

  @include breakpoint(larg-device) {
    margin-right: unset;
    flex-basis: 380px;
  }
}
.accordion-item {
  border-radius: 3px;
  box-shadow: $box-shadow-black;
  background-color: clr(color-opacity-secondary-bule);
  color: clr(color-secondary-blue);
  padding: 20px 33px;
  margin-bottom: 20px;
  @include flex-container($justify-content: space-between, $flex-wrap: wrap);
  position: relative;
}

.accordion-item > span {
  position: absolute;
  right: 30px;
  transition: 0.5s;
  font-size: fs(fs-18);
}
.accordion-item > p {
  display: none;
}
.open.accordion-item {
  color: clr(color-primary-white);
  padding: 30px 33px;
}
.open.accordion-item > h4 {
  font-size: fs(fs-20);
  width: 90%;
}
.open.accordion-item > span {
  transform: rotate(180deg);
}
.open.accordion-item > p {
  margin-top: 20px;
  display: block;
  font-size: fs(fs-14);
  line-height: lh(lh-1.43);
  padding-bottom: 12px;
  width: 100%;
}
