.info-wrap {
  background: $linear-gradient-green-blue;
  padding: 80px 0 90px 0;

  &__header {
    color: clr(color-primary-white);

    &--heading {
    }
    &--desc {
      margin-top: 33px;
      line-height: lh(lh-1.56);
      font-size: fs(fs-18);
    }
  }
  &__content {
    margin-top: 60px;

    &--desc {
    }
    &--picture > img {
      width: 100%;
    }
  }
  @include breakpoint(medium-device) {
    &__content {
      flex-direction: column;
    }
    &__content--picture {
      margin-top: 30px;
    }
  }
}
.info-wrap__left-content {
  margin: 46px 20px 30px 0;
  padding: 18px 26px 33px 32px;
  max-width: 502px;
  border-radius: 3px;
  box-shadow: $box-shadow-black;
  background-color: clr(color-opacity-secondary-bule);
  color: clr(color-primary-white);

  &--heading {
    margin: 20px 0;
    font-size: fs(fs-20);
  }
  &--desc {
    line-height: lh(lh-1.43);
    font-size: fs(fs-14);
  }
  &--list-holder {
    margin-left: 33px;
  }
  &--list {
    color: clr(color-secondary-blue);
    margin-bottom: 30px;
  }

  @include breakpoint(large-medium-device) {
    margin-top: 0;
  }
}
