.input-wrap {
  padding: 80px 0;
  background-color: clr(color-primary-green);

  &__heading {
    color: clr(color-primary-white);
  }
}
.input-wrap__input-area {
  @include input-area(unset);
  & > input {
    border: 1px solid clr(color-primary-white);
    color: clr(color-primary-white);
    background-color: clr(color-primary-green);

    &::placeholder {
      color: clr(color-primary-white);
    }
  }
  &-submit-btn {
    color: clr(color-primary-green);
    background-color: clr(color-primary-white);
  }
}
