// Proxima Nova
@font-face {
  font-family: Proxima Nova;
  src: url(/dist/fonts/ProximaNova-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/dist/fonts/ProximaNova-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/dist/fonts/ProximaNovaAlt-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/dist/fonts/ProximaNovaAlt-Bold.otf);
  font-weight: 700;
}

//OpenSans
@font-face {
  font-family: OpenSans;
  src: url(/dist/fonts/OpenSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(/dist/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
