.top-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: clr(color-primary-purpel);
}
.company-logo {
  max-height: 24px;
  & > img {
    width: 124px;
    height: 24px;
  }
}
.nav {
  @include flex-container(
    $justify-content: space-between,
    $align-items: center,
    $flex-wrap: wrap
  );
  @include breakpoint(large-medium-device) {
    padding-top: 25px;
    padding-bottom: 25px;
    @include flex-container($align-items: baseline);
  }
}
.nav__holder {
  & > ul {
    @include flex-container();
  }
  @include breakpoint(large-medium-device) {
    width: 100%;
    margin: 20px 0 40px 0;

    & > ul {
      @include flex-container($flex-direction: column);
    }
  }
}
.nav__item {
  @include nav-items(28px 19px 26px 19px, 25px 0);
}
.nav__item--signup {
  @include nav-items(28px 19px 26px 19px, 30px 0);
  & > a {
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 4px;
  }
}
.nav__item--signin,
.nav__item--signup {
  border-bottom: none;
}

.nav-menu {
  background-color: clr(color-transparent);
  position: fixed;
  top: 26px;
  right: 30px;
  display: none;
  width: 30px;
  height: 25px;

  @include breakpoint(large-medium-device) {
    display: inline-block;
  }
}
.hamburger {
  top: 10px;
}
.hamburger::before {
  top: -10px;
  @include breakpoint(small-screen) {
    top: -8px;
  }
}
.hamburger::after {
  top: 10px;
  @include breakpoint(small-screen) {
    top: 8px;
  }
}

.hamburger,
.hamburger::after,
.hamburger::before {
  width: 26px;
  height: 4px;
  background-color: clr(color-primary-white);
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: 0.3s;

  @include breakpoint(small-screen) {
    width: 24px;
    height: 1px;
  }
}
.hamburger::after,
.hamburger::before {
  content: "";
}
.nav-menu.active .hamburger {
  background-color: clr(color-transparent);
}
.nav-menu.active .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}
.nav-menu.active .hamburger::after {
  top: 0;
  transform: rotate(135deg);
}
