.top-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: clr(color-primary-purpel);
}
.nav {
  flex-wrap: wrap;
  @include breakpoint(header-nav) {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: baseline;
  }
}
.nav__holder {
  @include breakpoint(header-nav) {
    width: 100%;
    margin: 20px 0 40px 0;

    & > ul {
      flex-direction: column;
    }
  }
}
.nav__item {
  @include nav-items(28px 19px 26px 19px);

  @include breakpoint(header-nav) {
    @include nav-items(25px 0 5px 0);
  }
}
.nav__item-btn {
  @include nav-items(28px 19px 26px 19px);
  & > a {
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 4px;
  }
  @include breakpoint(header-nav) {
    @include nav-items(30px 0 20px 0);
  }
}
.nav-menu,
.close-nav {
  background-color: clr(color-transparent);
  color: clr(color-primary-white);
  font-size: fs(fs-24);
  display: none;

  @include breakpoint(header-nav) {
    display: inline-block;
  }
}
